@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,400;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: black;
  --bs-gutter-x: 0rem;
}

.row {
  --bs-gutter-x: 0rem;
}

.estilo-letras {
  color: white;
  text-align: center;
  font-family: "Merriweather", serif;
}

.fondo-nav {
  background-color: rgb(0, 0, 0);
}

.fondo-main {
  background: linear-gradient(rgb(33, 37, 41), rgb(0, 0, 0));
}

.logoflotante {
  position: fixed;
  right: 30px;
  bottom: 50px;
  width: 100px;
  color: #20ba2d;
}
.logoflotante:hover {
  color: #0e5a18;
}

main {
  color: white;
  text-align: center;
  font-family: "Merriweather", serif;
}
main div div div div div div img {
  display: block;
  margin-block-start: 2rem;
  margin-block-end: 1rem;
  border-radius: 35px;
  padding: 5px;
}
main div div div p {
  display: block;
  margin-block-start: 2rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 5px;
}

main .FAQs {
  margin-top: 50px;
  border-radius: 35px;
  box-shadow: 0.8rem 0.8rem 1rem #666262, -0.8rem -0.8rem 1rem #666262;
}
main .FAQs h2 {
  padding-top: 15px;
  background: linear-gradient(180deg, rgb(219, 9, 9) 13%, rgb(120, 61, 61) 43%, rgb(191, 153, 153) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
main .FAQs div {
  margin-top: 15px;
  padding-bottom: 15px;
}

.image-planes {
  border-radius: 35px;
  padding: 5px;
  cursor: pointer;
  transition: all 1.5s ease;
}
.image-planes:hover {
  box-shadow: 0.2rem 0.2rem 1rem #fff, -0.2rem -0.2rem 1rem #ccc;
  transform: translate(-5px, -8px);
}

.contacto {
  margin-top: 25px;
}

.mapa {
  padding: 10px;
  border-radius: 20px;
}

.video {
  padding: 30px;
}

.video-borde {
  border-radius: 20px;
}

.img-galeria {
  border-radius: 10px;
  box-shadow: 0.2rem 0.2rem 1rem #111111, -0.2rem -0.2rem 1rem #111111;
  cursor: pointer;
  transition: all 0.8s ease;
  width: 85%;
  margin-top: 55px;
  margin-bottom: 35px;
}
.img-galeria:hover {
  box-shadow: 0.2rem 0.2rem 1rem #4b4b4b, -0.2rem -0.2rem 1rem #4b4b4b;
  transform: scale(1.2);
}

.contactopie {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
}

.estilo-boton {
  width: 150px;
  margin: 45px 30px;
  background: linear-gradient(40deg, rgb(36, 54, 73), rgb(0, 0, 0));
  font-weight: semibold;
  color: rgba(255, 255, 255, 0.9333333333);
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border: 2px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 1.5s ease;
  box-shadow: 0.5rem 0.5rem 1rem #5c5050, -0.5rem -0.5rem 1rem #5c5050;
}

.estilo-boton:hover {
  box-shadow: 0.8rem 0.8rem 1rem #fff, -0.8rem -0.8rem 1rem #ccc;
}

.estilo-boton:active {
  box-shadow: inset 0.1rem 0.1rem 1rem #fff, inset -0.1rem -0.1rem 1rem #ccc;
}

.tarjeta-mapa {
  width: 100%;
  height: 100%;
  border: 2px solid rgb(87, 87, 87);
  border-radius: 20px;
  margin-bottom: 1rem;
  background-color: rgb(211, 204, 174);
  cursor: pointer;
  transition: all 0.8s ease;
  box-shadow: 0.2rem 0.2rem 1rem #111111, -0.2rem -0.2rem 1rem #111111;
}
.tarjeta-mapa:hover {
  box-shadow: 0.2rem 0.2rem 1rem rgb(245, 237, 209), -0.2rem -0.2rem 1rem rgb(245, 237, 209);
  transform: translate(5px, 8px);
}

.espacio {
  padding: 10px;
}

.subtitulos-items {
  text-align: center;
  padding: 1vh;
  color: rgb(131, 40, 4);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.items-presup {
  text-align: left;
  padding: 1vh;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*# sourceMappingURL=style.css.map */
