@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,400;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: black;
    --bs-gutter-x: 0rem;
}

.w-100 {
    width: 100% !important;
    max-width: 800px !important;
    align-items: center;
}

//Estilado del index mediante estructura de Scss

main {
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;

    div {
        div {
            div {
                div {
                    div {
                        div {
                            img {
                                display: block;
                                margin-block-start: 2rem;
                                margin-block-end: 1rem;
                                border-radius: 35px;
                                padding: 5px;
                            }
                        }
                    }
                }
            }

            div {
                p {
                    display: block;
                    margin-block-start: 2rem;
                    margin-block-end: 1rem;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    margin-left: 25px;
                    margin-right: 25px;
                }
            }
        }
        section {
            div {
                a {
                    position: fixed;
                    right: 30px;
                    bottom: 50px;
                    width: 100px;
                    color: #20ba5a;

                    :hover{
                        color: #0e5a18;
                    }
                }
            }
        }
    }
}

//

main{
    .FAQs{
        margin-top: 50px;
        border-radius: 35px;
        box-shadow: .8rem .8rem 1rem #666262, -.8rem -.8rem 1rem #666262;
        h2{
            padding-top: 15px;
            background: linear-gradient(180deg, rgba(219,9,9,1) 13%, rgba(120,61,61,1) 43%, rgba(191,153,153,1)100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        div{
            margin-top: 15px;
            padding-bottom: 15px;               
        }
    }

}

.logoflotante {
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 100px;
    color: #20ba2d;
}

.logoflotante:hover {
    color: #0e5a18;
}

.contactopie {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}

.row {
    --bs-gutter-x: 0rem;
}

.fondo-nav {
    background-color: rgb(0, 0, 0);
}

.fondo-main {
    background: linear-gradient(rgb(33, 37, 41), rgb(0, 0, 0));
}

.image-planes {
    border-radius: 35px;
    padding: 5px;
    cursor: pointer;
    transition: all 1.5s ease;
}

.image-planes:hover {
    box-shadow: .2rem .2rem 1rem #fff, -.2rem -.2rem 1rem #ccc;
    transform: translate(-5px, -8px);
}

.image-planes:active {
    transform: rotateY(180deg);

}

.video {
    padding: 50px;
    margin: 10px;
}

.estilo-letras {
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.contacto {
    text-align: left
}


.estilo-boton {
    width: 150px;
    margin: 45px 30px;
    background: linear-gradient((40deg, rgb(36, 54, 73), rgb(0, 0, 0)));
    font-weight: semibold;
    color: #ffffffee;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: 2px;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1.5s ease;
    box-shadow: .5rem .5rem 1rem #5c5050, -.5rem -.5rem 1rem #5c5050;
}

.estilo-boton:hover {
    box-shadow: .8rem .8rem 1rem #fff, -.8rem -.8rem 1rem #ccc;
}

.estilo-boton:active {
    box-shadow: inset .1rem .1rem 1rem #fff, inset -.1rem -.1rem 1rem #ccc;
}

.mapa {
    height: 40vw;
    padding: 50px;
    margin: 10px;
}