main{
    .FAQs{
        margin-top: 50px;
        border-radius: 35px;
        box-shadow: .8rem .8rem 1rem #666262, -.8rem -.8rem 1rem #666262;
        h2{
            padding-top: 15px;
            background: linear-gradient(180deg, rgba(219,9,9,1) 13%, rgba(120,61,61,1) 43%, rgba(191,153,153,1)100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        div{
            margin-top: 15px;
            padding-bottom: 15px;               
        }
    }

}

.image-planes {
    border-radius: 35px;
    padding: 5px;
    cursor: pointer;
    transition: all 1.5s ease;

    &:hover{
        box-shadow: .2rem .2rem 1rem #fff, -.2rem -.2rem 1rem #ccc;
        transform: translate(-5px, -8px);
    }

}


